<h1 class="text-center"><%= link_to @user.username, user_path(@user) %>'s Followers</h1>
<div class="col-md-10 col-md-offset-1">

  <% @followers.each do |follower| %>
  <div class="col-md-4 followers">
    <div class="col-md-4">
      <%= image_tag follower.avatar, class: "resize-image img-rounded" %>
    </div>
    <div class="col-md-7">
      <h4> <%= link_to follower.username, follower.github_url, class: "coloring" %></h4>
    </div>
  </div>
  <% end %>
</div>
