img.resize-image {
  width:75px;
  height: auto;
}

img.profile-resize {
  width: 230px;
  height: 230px;
}

img.nav-resize {
  width: 28px;
  height: 28px;
}

.bottom {
    border-bottom: 1px solid #b7b7b7;
    margin-bottom: 20px;
}

.followers {
    border-bottom: 1px solid #b7b7b7;
    margin-top: 20px;
    padding-bottom: 20px;
}

a.coloring {
  color: black;
}

.repos {
  border: 1px solid #b7b7b7;
  padding: 10px;
  margin: 0px;
}

.repo-header {
  background: #b7b7b7;
  border-radius: 5px 5px 0px 0px;
  border: 1px solid #b7b7b7;
  padding: 10px;
  margin: 0px;
}
